/* //////////////////////////////////////////////////////////////////////////////////////////     */


table
{
    border-collapse: collapse;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

#cadre_centre {
        text-align: center;
	margin:5%;
	border: 3px solid black;
	padding : 2%;
}


#bloc_forms{
  display: flex;
}

#bloc_all_emprunts{
	display : flex;
}

#itemEmprunt1{
	margin-left : 5%;
	border:1px solid black;
	padding : 1%;
	background-color : #79ade0;
	width: 75%;
}

#itemEmprunt2{
	background-color : #ff7070;
	margin-left : 20%;
	border:1px solid black;
	padding : 1%;
	width: 75%;
}


.myPage {
  font-family: 'Source code pro', Calibri, serif;
  padding: 0px;
  margin: 0px;
  background-image: url('../img/voisins.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
}

#img_sinscrire {
  padding:0;
}




.ajout{
  /* display: inline-block; 
    margin-left: 17px;
    height: 159px;
    width: 189px;
    background-color: rgba(46, 216, 137, 0.61);*/
    display: inline-block;
    margin-left: 17px;
    /* margin-top: 18px; */
    height: 80px;
    position: relative;
    bottom:60px;
    width: 189px;
    background-color: rgba(46, 216, 137, 0.61);
}

.ajout p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: white;
}

.produits a:link {
  text-decoration: none;
  color:black;
}

.produits a:visited {
  color: black;
}

.ajout img {
    width: 100px;
    padding-left: 39px
}


fieldset{
  width: 540px;
}


#text_icone_compte{
  margin-top: 6px;
}

#bloc_deconnexion {
  margin-top: 16px;
}

#image_produit{
    width: 80px;
}

#bloc_nom_produit{
  text-align:center;
}

#bloc_produit{
  display:flex;
   margin: 10px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid black;
    padding: 10px;
}

ul{
  list-style-type: none;
}


#bloc_add_comm fieldset{
 width: 97%;
}

.boutons_radio {
  margin-left: 34px;
}

html{
  height: 100%;
}

body{
  height: 100%;
  position: relative;
}


#icone_action {
  width:55px;
  margin-top: 9px;
}
#bloc_all_comm{
  margin-top: 5px;
}
.commentaire{
  background-color: rgba(62, 201, 232, 0.55);
  width: 50%;
}

#bloc_commentaire{
  display: flex;
}


#bloc_suppr_comm{
    width: 9%;
    margin-top: 12px;
}

#bouton_suppr_comm{
      background-color: rgba(255, 255, 255, 0.93);
    border: 2px solid black;
    padding: 6px;
    border-radius: 17px;
    height: 24px;
}

#bouton_suppr_comm a {
  text-decoration: none;
    color: red;
}

#bouton_suppr_comm p{
      margin-top: 3px;
    font-weight: bold;
}

#bloc_detail_comm{
      width: 91%;
}

#bloc_id_produit {
  visibility: hidden;
  position: absolute;
}


#bloc_erreur_not_admin{
  background-color: rgb(255, 34, 34);
    position: relative;
    top: 62px;
    text-align: center;
    /* height: 28px; */
    margin-left: 65px;
    margin-right: 65px;
    padding: 26px;
}

#text_notif{
  background-color: rgb(51, 187, 17);
    height: 32px;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
}

#erreur{
  background-color: rgb(255, 152, 0);
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 21px;
    top: 123px;
    border: 2px solid;
    /* height: 6px; */
    margin: 47px;
}

#bloc_form_create_update{
  margin-left:25%;
  position: relative;
    top: 39px;

}

#formulaire_connex{
	margin : 5% 25%;
	width:50%;
	padding : 2%;
        background-color: rgba(0, 150, 136, 0.6);
        border: 2px solid black;
}



/* /////////////rajouts marco//// */


#recherche{
	margin:2%;
	border: 2px solid black;
	padding : 2%;
}

#formulaire{
	margin : 5% 25%;
	width:50%;
	padding : 2%;
        
}
 
#formulaire div{
	margin :2%;
}

.produit {
    display: inline-block;
	text-align : center;
    margin: 10px;
    background-color: rgba(0, 150, 136, 0.6);
    border: 1px solid black;
    padding: 10px;
    width: 176px;

}

.notification{
	margin:2%;
	border: 2px solid black;
	padding : 2%;
}

#infos_user {
	margin:2%;
	border: 3px solid black;
	padding : 2%;
}

#actions_user{
	display:flex;
}

#actions_user a{
	margin : 1%;
}

#actions_user button{
	height : 100%;
	background-color:rgba(0, 150, 136);
	color : white;
}